<html>
<head>
<title>peaks</title>
</head>
<body>
<h1>Sign In</h1>
<form action="{{ url_for('login', next=next) }}" method='POST'>
    {{form.hidden_tag()}}
    <p>
        login:<br>
        {{form.user_login(size=80)}}<br>
    </p>

    <p>
        password:<br>
        {{form.user_password(size=80)}}<br>
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
</body>
</html>