<html>
  <head>
    <title>Peaks</title>
  </head>
  <body>
    <h1>peaks is service to be in contact with your audience</h1>
<h1>User: {{user}}!</h1>
{% for msg in messages %}
 <p>{{msg}}<p>
 {% endfor %}
  </body>
</html>